body {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
  font-family: "Myriad Pro"; }

#container {
  max-width: 782px;
  margin: 0 auto;
  text-align: center; }
  #container h1 {
    text-align: left;
    font-size: 24px; }
    #container h1 .mtr {
      color: #0F254C; }
    #container h1 .delay {
      color: #A62A42; }

.mtr .day {
  fill: #fff; }
  .mtr .day.selected {
    stroke: #999;
    stroke-width: 2px; }
  .mtr .day:hover {
    stroke: #000;
    stroke-width: 2px; }
.mtr .month {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px; }
.mtr .q0-11 {
  fill: #eeeeee; }
.mtr .q1-11 {
  fill: #f0ff52; }
.mtr .q2-11 {
  fill: gold; }
.mtr .q3-11 {
  fill: #fd6d0a; }
.mtr .q4-11 {
  fill: #ff2101; }
.mtr .q5-11 {
  fill: #832101; }
.mtr .q6-11 {
  fill: black; }

#history {
  text-align: left; }
  #history h2 {
    font-size: 20px; }

#date-picker {
  width: 140px;
  float: right; }
