html, body {
  height: 100%; }

body {
  font: 10px sans-serif;
  padding: 0px;
  margin: 0px;
  shape-rendering: crispEdges;
  font-family: "Myriad Pro"; }

a {
  color: #a8173f; }
  a:visited {
    color: #7b112e; }
  a:hover {
    color: lighter(#a8173f, 10%); }

#container {
  max-width: 782px;
  min-height: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center; }
  #container h1 {
    text-align: left;
    font-size: 24px; }
    #container h1 .mtr {
      color: #0F254C; }
    #container h1 .delay {
      color: #A62A42; }

.mtr .day {
  fill: #fff; }
  .mtr .day.selected {
    stroke: #999;
    stroke-width: 2px; }
  .mtr .day:hover {
    stroke: #000;
    stroke-width: 2px; }
.mtr .month {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px; }
.mtr .q0-11 {
  fill: #eeeeee; }
.mtr .q1-11 {
  fill: #f0ff52; }
.mtr .q2-11 {
  fill: gold; }
.mtr .q3-11 {
  fill: #fd6d0a; }
.mtr .q4-11 {
  fill: #ff2101; }
.mtr .q5-11 {
  fill: #832101; }
.mtr .q6-11 {
  fill: black; }

#history {
  text-align: left;
  font-size: 18px;
  margin-top: 40px;
  overflow: auto;
  padding-bottom: 60px; }
  #history h2 {
    font-size: 20px; }
  #history #date-picker {
    width: 140px;
    float: right;
    font-size: 14px; }
  #history #recent ul, #history #recent li {
    list-style: none;
    margin: 0; }
  #history #recent ul {
    padding: 0 0 20px 0;
    margin: 0; }
  #history #recent td.time {
    color: #aaa;
    font-size: 14px;
    padding-right: 10px; }

footer {
  width: 100%;
  color: #555;
  position: relative;
  margin-top: -60px;
  height: 60px;
  clear: both; }
  footer .container {
    text-align: center;
    background-color: #eee;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 20px; }
